[flake8]
# E203: whitespace before ':'
# E266: too many leading '#' for block comment
# E402: module level import not at top of file
# E501: line too long
extend-ignore = E203, E266, E402, E501
max-line-length = 88
count = True
statistics = True
